body {
    font-family: 'Montserrat';
    font-size: 22px;
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

.sub-container {
    font-size: 16px;
    text-align: left;
    margin-bottom: 50px;
}

.container h3 {
    text-align: left;
    font-size: 20px;
}

.todo-input {
    margin: auto;
    padding: 7px;
    width: 410px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    margin-right: 6px;
    font-family: 'Montserrat';
}

input[type=button] {
    width: 58px;    
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;    
}

.todo-submit:hover {
    background-color: #77dd77;
}

.todo-edit:hover {
    background-color: #5CB3DE;
}

.todo-update:hover {
    background-color: #77dd77;
}

.todo-delete:hover {
    background-color: indianred;
}

.tasks-inprogress {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.tasks-done {
    display: flex;
    flex-wrap: wrap;
}

.tasks-created {
    flex: auto;
    width: 440px;
    padding-top: 8px;
    /* padding-left: 8px; */
    /* background: #000; */
}
.tasks-buttons {
    display: flex;
    flex-direction: column;
}

.tasks-buttons-hidden {
    display: none;
}

.tasks-row {
    flex-direction: row;
}

